<!-- footer -->
<div class="footer">
    <div class="footer-grids">
        <div class="footer-top">
            <div class="footer-top-nav">
				<ul>
				    <li><a href="#">À propos</a></li>
                    <li><a href="#">Contacter</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- //footer -->