{% extends 'layout/pattern.twig' %}

{% block content %}
    <div class="main-grids">
        <div class="top-grids">
            <div class="recommended-info">
                <h3>Les Restaurants</h3>
            </div>
            {% for place in places %}
                {% include 'layout/placeDisplay.twig' %}
            {% endfor %}
            <div class="clearfix"> </div>
        </div>
    </div>
{% endblock %}