{% extends 'layout/pattern.twig' %}

{% block content %}
    {% block message %}
    {% endblock %}

<div class="main-grids">
    <div class="top-grids">
        <div class="recommended-info">
            <h3>Nos membres ont partagé...</h3>
        </div>
        {% set pageView = 'homePage' %}
        {% for post in posts %} 
            {% include 'layout/statusDisplay.twig' %}
        {% endfor %}
        <div class="clearfix"> </div>
    </div>
</div>

{% endblock %}